<nav class="navbar navbar-expand-lg navbar-light alert-success">
    <a class="navbar-brand" href="#">Express Bhushan</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item ">
          <a class="nav-link" href="/Bhushan">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/r/Kohli">Kohli</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/r/Abd">AB Devilliears</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/r/Gayle">Gayle</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="/rand">Random</a>
          </li>
      </ul>
    </div>
</nav>