
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Comment</title>
    <link rel="stylesheet" href="/app.css">
</head>
<body>
    <h1>Add New Designations</h1>
    <form action="/comment" method="post">
        <label for="user">User Name</label>
        <input type="text" id="user" name="name" placeholder="Enter UserName">
        <br>
        <textarea name="dsg" cols="30" rows="10" placeholder="Enter Designation"></textarea>
        <div>
            <button>Submit</button>
        </div>
    </form>
    <a href="/comment">View Comments</a>
</body>
</html>