<% layout('home') %>
    <form action="/campgrounds" method="post">
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" name="name" placeholder="Enter City Name">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" name="location" id="location" placeholder="Enter Location">
        </div>
        <button>Yay! Ad CG</button>
    </form>
